name: CD Pipeline (Front)

on:
  push:
    branches:
      - release

permissions:
  contents: read

env:
  AWS_REGION: ap-northeast-2
  ECR_REPOSITORY_FRONT: newstagram/front

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install dependencies
        run: npm install
      - name: Build
        run: npm run build
        env:
          VITE_API_URL: ${{ secrets.VITE_API_URL }}
          VITE_CLOUDWATCH_DASHBOARD_URL: ${{ secrets.VITE_CLOUDWATCH_DASHBOARD_URL}}

  deploy-front:
    needs: ci
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and Push Docker Image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          IMAGE_TAG: ${{ github.sha }}
        run: |
          docker build --build-arg VITE_API_URL=${{ secrets.VITE_API_URL }} -t $ECR_REGISTRY/$ECR_REPOSITORY_FRONT:latest .
          docker push $ECR_REGISTRY/$ECR_REPOSITORY_FRONT:latest

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST_FRONT }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            aws ecr get-login-password --region ${{ env.AWS_REGION }} | docker login --username AWS --password-stdin ${{ steps.login-ecr.outputs.registry }}
            
            docker pull ${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_REPOSITORY_FRONT }}:latest
            
            docker stop newstagram-front || true
            docker rm newstagram-front || true
            
            docker run -d --name newstagram-front \
              -p 80:80 \
              ${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_REPOSITORY_FRONT }}:latest
            
            docker image prune -f
